@import url(./css/assets/reset.css);

/*Global*/
    html{background-image: url(../images/geometric.jpg);}

/*Body*/
    body {
        max-width: 75%;
    }
    .guessWho{
        max-width:100%;
    }
    .guessPic{
        width: 100%;
    }